*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}

.travel{
    background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?q=80&w=1172&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: red;
    text-align: center;
    align-content: center;
    font-size: 80px;
}
.japan{
    text-align: center;
    align-content: center;
    font-size: 80px;
}
.Tokyo{
    width: 100%;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1545569341-9eb8b30979d9?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 30px;
    background-attachment: fixed;
}
.Germany{
    text-align: center;
    align-content: center;
    font-size: 80px;
    color: white;
    background-color: black;
}
.berlin{
    width: 100%;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1599946347371-68eb71b16afc?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    text-align: center;
    align-content: center;
    font-size: 30px;
}
.UK{
    text-align: center;
    align-content: center;
    font-size: 80px;
    color: white;
    background-color: black;
}
.london{
    width: 100%;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1513635269975-59663e0ac1ad?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 30px;
}