table{
    border: 2px solid black;
    width: 100%;
    cellpadding: 10px;
    cellspaceing: 0;

}

.A{
    text-align: center;
}
.V{
    background-color: darkorange;
}
.P{
    color: green;
}
.F{
    color: red;
}